@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary-color:#fff;
$secondary-color:#000000;

@import "override-variable";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$custom-colors: (
        "primary-color": $primary-color,
        "secondary-color": $secondary-color
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$font-family-base: "PT Sans", sans-serif;
$font-size-base: 18px;

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities";

@import "override-class";
@import "custom-class";
@import "custom-class-component";
@import "custom-class-media-query";